Repository GoogleCloudPlatform/vertex-ai-samples, changes with the owners that docs/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/cloudml-samples-owners, @ivanmkc, @mco-gh, @jialuzh, @sararob, @halio-g, @protorganizer, @brianchunkang, @morgandu, @yinghsienwu, @RajeshThallam, @ultrons

PyTorch on Vertex - Adding pipelines notebook
  community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud/custom_container/scripts/train-cloud.sh
  community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud/predictor/Dockerfile
  community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud/python_package/scripts/train-cloud.sh
  community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud/python_package/trainer/experiment.py
  community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud/pytorch-text-classification-vertex-ai-pipelines.ipynb
Owners: @RajeshThallam, @ultrons

Create README.md
  notebooks/community/ml_ops/README.md
Owners: @ivanmkc

Create README.md
  notebooks/community/ml_ops/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/README.md
Owners: @ivanmkc

Create README.md
  notebooks/community/ml_ops/stage1/README.md
Owners: @ivanmkc

Create README.md
  notebooks/community/ml_ops/stage1/README.md
Owners: @ivanmkc

Add files via upload
  notebooks/community/ml_ops/stage1/stage1.jpg
Owners: @ivanmkc

Add files via upload
  notebooks/community/ml_ops/stage1/stage1.jpg
Owners: @ivanmkc

feat: get started notebook
  notebooks/community/ml_ops/stage1/get_started_vertex_datasets.ipynb
Owners: @ivanmkc

feat: get started notebook
  notebooks/community/ml_ops/stage1/get_started_vertex_datasets.ipynb
Owners: @ivanmkc

feat: ML ops (#73)
  notebooks/community/ml_ops/stage1/get_started_vertex_datasets.ipynb
Owners: @ivanmkc

feat: ML ops (#73)
  notebooks/community/ml_ops/stage1/get_started_vertex_datasets.ipynb
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/stage1/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/stage1/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/stage1/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/stage1/README.md
Owners: @ivanmkc

Updates from notebook execution tests
  notebooks/official/ml_metadata/vertex-pipelines-ml-metadata.ipynb
Owners: @sararob

Updates from notebook execution test
  notebooks/official/ml_metadata/vertex-pipelines-ml-metadata.ipynb
Owners: @sararob

PyTorch on Vertex - Updating pipelines notebook
  community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud/pytorch-text-classification-vertex-ai-pipelines.ipynb
Owners: @RajeshThallam, @ultrons

PyTorch on Vertex - Updating pipelines notebook, clearing outputs
  community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud/pytorch-text-classification-vertex-ai-pipelines.ipynb
Owners: @RajeshThallam, @ultrons

feat: refine notebook
  notebooks/community/ml_ops/stage1/get_started_bq_datasets.ipynb
Owners: @ivanmkc

feat: refine notebook
  notebooks/community/ml_ops/stage1/get_started_bq_datasets.ipynb
Owners: @ivanmkc

feat: ML Ops (#74)
  notebooks/community/ml_ops/stage1/get_started_bq_datasets.ipynb
Owners: @ivanmkc

feat: ML Ops (#74)
  notebooks/community/ml_ops/stage1/get_started_bq_datasets.ipynb
Owners: @ivanmkc

Update with changes from linter
  notebooks/official/ml_metadata/vertex-pipelines-ml-metadata.ipynb
Owners: @sararob

Update Demand_forecasting.ipynb
  notebooks/community/springml/Demand forecasting/Demand_forecasting.ipynb
Owners: @ivanmkc

test commit
  notebooks/community/springml/Churn prediction/Churn_Prediction.ipynb
  notebooks/community/springml/Churn prediction/beans_deploy_component.yaml
  notebooks/community/springml/Churn prediction/beans_model_component.yaml
  notebooks/community/springml/Churn prediction/copy-Churn_Prediction.ipynb
  notebooks/community/springml/Churn prediction/create_dataset.yaml
  notebooks/community/springml/Churn prediction/mlmd_pipeline.json
  notebooks/community/springml/Recommender system/Recommender with PySpark_v3.ipynb
  notebooks/notebook_template.ipynb
Owners: @ivanmkc

feat: add dataflow notebook
  notebooks/community/ml_ops/stage1/get_started_bq_datasets.ipynb
  notebooks/community/ml_ops/stage1/get_started_dataflow.ipynb
  notebooks/community/ml_ops/stage1/get_started_vertex_datasets.ipynb
Owners: @ivanmkc

feat: add dataflow notebook
  notebooks/community/ml_ops/stage1/get_started_bq_datasets.ipynb
  notebooks/community/ml_ops/stage1/get_started_dataflow.ipynb
  notebooks/community/ml_ops/stage1/get_started_vertex_datasets.ipynb
Owners: @ivanmkc

Ml ops (#77)
  notebooks/community/ml_ops/stage1/get_started_bq_datasets.ipynb
  notebooks/community/ml_ops/stage1/get_started_dataflow.ipynb
  notebooks/community/ml_ops/stage1/get_started_vertex_datasets.ipynb
Owners: @ivanmkc

Ml ops (#77)
  notebooks/community/ml_ops/stage1/get_started_bq_datasets.ipynb
  notebooks/community/ml_ops/stage1/get_started_dataflow.ipynb
  notebooks/community/ml_ops/stage1/get_started_vertex_datasets.ipynb
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/stage1/README.md
Owners: @ivanmkc

Update README.md
  notebooks/community/ml_ops/stage1/README.md
Owners: @ivanmkc

update title to s/Vertex/Vertex AI/
  notebooks/community/model_monitoring/model_monitoring_feature_attribs.ipynb
Owners: @ivanmkc

title change: s/Vertex/Vertex AI/
  notebooks/official/model_monitoring/model_monitoring.ipynb
Owners: @mco-gh

docs/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Our Global Owners: @andrewferlitsch @aribray @dizcology @ivanmkc @morgandu @telpirion @vinnysenthil   
*       @GoogleCloudPlatform/cloudml-samples-owners

# Notebooks
/notebooks					@ivanmkc

# Official Notebooks

notebooks/official/model_monitoring/model_monitoring.ipynb  @mco-gh
notebooks/official/ml_metadata/sdk-metric-parameter-tracking-for-custom-jobs.ipynb  @jialuzh
notebooks/official/ml_metadata/sdk-metric-parameter-tracking-for-locally-trained-models.ipynb  @jialuzh
notebooks/official/ml_metadata/vertex-pipelines-ml-metadata.ipynb @sararob
notebooks/official/vizier/gapic-vizier-multi-objective-optimization.ipynb  @halio-g
notebooks/official/feature_store/gapic-feature-store.ipynb  @protorganizer

# Community Notebooks
/notebooks/community/sdk/SDK_FBProphet_Forecasting_Online.ipynb			@brianchunkang


# Community Content
/community-content			@morgandu
/community-content/tf_agents_bandits_movie_recommendation_with_kfp_and_vertex_sdk	@yinghsienwu
/community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud		@RajeshThallam @ultrons



# Official Community Content
